
/* SPINNER */
.loader {
  position: fixed;
  background-color: $color-vista-blue;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loaderFadeIn 0.6s ease-in forwards 4s;
}


@keyframes loaderFadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.loader::after,
.loader::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid #FF9900;
  animation: rotationBreak 3s ease-in-out infinite alternate;
}

.loader::after {
  border-color: #E1670E;
  animation-direction: alternate-reverse;
}

@keyframes rotationBreak {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);

  }
}
